# add git-ignore syntax here of things you don't want copied into docker image
.git
*Dockerfile*
*docker-compose*
*node_modules*
dbtools
backend.bak/*
frontend/build
frontend/node_modules
*/*.sql
*.sql
./public/*
