.record {
  .MuiTableCell-sizeSmall {
    padding: 4px;
  }

  .deleted {
    td:not(.media-action) {
      opacity: 0.3;
      background: #eee;
    }
  }
  .media {
    & > * {
      border-bottom: unset;
    }
    // & > *:not(.media-action) {
    // }
  }
}
