html,
body,
#root,
.App {
  min-height: 100%;
}
#root {
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // overflow: auto;
  min-height: 100dvh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.loading {
  opacity: 0.5;
}
.loading input,
.loading button {
  pointer-events: none;
}

.App {
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow-x: hidden;
  }
  .scroll-container {
    height: 100%;
    overflow: visible;
    scroll-behavior: smooth;
  }
  .flex-scroller {
    overflow-x: auto;
    height: 100%;
    padding: 1px;
  }
  .EdgeHeaderOffset {
    flex: none;
  }
  header.MuiPaper-root,
  .MuiDrawer-root .MuiPaper-root {
    padding: 0px;
  }
  .MuiContainer-root {
    padding-top: 8px;
  }
}
